<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script>
        console.log('Local storage: ', localStorage.getItem('video'));
        //var videoCapture = document.createElement('video');
        var parentVideo = document.getElementById('captureStreams');
        const streams = localStorage.getItem('video');
        const data = window.URL.createObjectURL(streams);
        console.log('Final Data: ', data)
        //videoCapture.srcObject = streams;
        data.play();
        parentVideo.append(videoCapture);
    </script>
    <title>Video Calling Website</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        }

        #header {
            text-align: center;
            padding: 20px;
            box-shadow: 0 2px 4px 0 hsla(0, 0%, 63.5%, .5);
            border-bottom: 1px solid #d0d0d0;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <div id='header'>Welcome to Live streaming using Node js</div>

    <div id="captureStreams"></div>
</body>

</html>